#define WIFI_SSID               "wi-fi ssid"
#define WIFI_PWD                "wi-fi password"

#define MQTT_SERVER	            "MQTT server IP address"
#define MQTT_SERVER_PORT        1883

#define OTA_HOSTNAME            "OTA Hostname"
#define OTA_PWD                 "OTA password"

#define MQTT_VOLTAGE_TOPIC	    "sensors/voltage"